[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[[source]]
url = "https://extras.wxpython.org/wxPython4/extras/linux/gtk3/ubuntu-16.04"
verify_ssl = true
name = "wxPython"

[packages]
pypcapkit = "*"
wxPython = "*"

[dev-packages]
ipython = "*"
rope = "*"
"autopep8" = "*"
pylint = "*"
pycodestyle = "*"
isort = {extras = ["pipfile", "requirements"],version = "*"}

[requires]
python_version = "3.6"
